---
---

$code-color: #000000;
$keyword-color: #ba2ca3;
$type-color: #703daa;
$member-color: #7a54b2;
$number-color: #2729d7;
$string-color: #d12f1b;
$comment-color: #008400;
$compiler-control-color: #78492a;

.highlight {
    color: $code-color;

    .kd {
        color: $keyword-color;
    }
    
    .k {
        color: $keyword-color;
    }
    
    .kt {
        color: $type-color;
    }
    
    .nv {
        color: $member-color;
    }
    
    .nf {
        color: $member-color;
    }

    .mi {
        color: $number-color;
    }
    
    .c1 {
        color: $comment-color;
    }
}
