---
---

$theme-color: #F05136;
$code-background-color: #F5F5F5;
$code-border-color: #F3F3F3;
$hr-color: rgb(232, 232, 232);
$weak-color: #7F7F7F;
$disabled-color: #BFBFBF;

.highlighter-rouge .highlight {
    background-color: $code-background-color;
    border-color: $code-border-color;
}

h1 {
    font-size: 2.4em;
}

h1.post-title {
    font-size: 2.4em;
}

h2 {
    font-size: 1.8em;
}

.post-content h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

.post-content h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

.post-content h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

pre,code {
    background-color: $code-background-color;
    border-color: $code-border-color;
}

hr {
    border-color: $hr-color;
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    margin-bottom: 1em;
}

.site-header {
    border-top-style: none;
}

.accent {
    color: $theme-color;
}

.weak {
    color: $weak-color;
}

.site-nav span.page-link {
    color: $disabled-color;
}