---
layout: home
---

{% assign size_chapters = site.data.book.chapters | size %}
{% assign col_width = 100 | divided_by: size_chapters %}

<div style="width: 100%; text-align: center;">
    <img src="/img/swift-heart.png" style="width: 512px; max-width: 100%;" />
    <h1>Heart of Swift</h1>
</div>

<section style="text-align: center; width: 100%;">
    <h2>はじめに</h2>
    <div style="text-align: left;">
        <p><strong>Swift は <em>値型</em> を中心とした特徴的なプログラミング言語です。</strong>他のプログラミング言語の経験がある人でも、 Swift がどのようなコンセプトの言語なのかを理解しないままにコードを書くとその違いに戸惑い、 Swift らしくない（ Swifty でない）コードを書いてしまいがちです。そこで <strong>"Heart of Swift"</strong> と題して、筆者が Swift を学ぶ上で最も重要だと思う言語の Heart をオンラインブックの形でまとめました。</p>
        <p>Heart という単語には、「心臓」の他に「心」や「中心」などの意味があります。</p>
        <div style="width: fit-content; margin: 0 auto 15px auto;">
            <h3 style="margin: 0 0 4px 0; font-size: x-large;">heart</h3>
            <div style="margin: 0 0 4px 0;"><span style="border: solid 1px; border-radius: 2px; padding: 2px;">名詞</span></div>
            <ol style="margin-left: 20px;">
                <li>心臓</li>
                <li><strong class="accent">心</strong>, 気持ち</li>
                <li>[the 〜] <strong class="accent">中心</strong>, 真ん中</li>
            </ol>
        </div>
        <p>"Heart of Swift" というタイトルには、 Swift の根幹をなす概念（中心）や、 Swift という言語がプログラマにどのようなコードを書くことを期待しているか（心）などの意味を込めています。本書が目指すのは、 Swift の　Heart （中心）となる概念について説明することを通して、 Swift の Heart （心）の形を描き出すことです。</p>
        <p>では、 Swift の Heart （中心）となる概念とは何かというと、それが次の二つです。</p>
        <ul>
            <li><strong><em>Value Semantics</em></strong></li>
            <li><strong><em>Protocol-oriented Programming</em></strong></li>
        </ul>
        <p><em>Value Semantics</em> と <em>Protocol-oriented Programming</em> については、 WWDC 2015 のセッションの中で詳しく説明されています。</p>
        <ul>
            <li><a href="https://developer.apple.com/videos/play/wwdc2015/414/">"Building Better Apps with Value Types in Swift"</a><br />
                <span class="weak"><strong class="accent">Doug Gregor</strong> &amp; Bill Dudney, Session 414, WWDC 2015</span></li>
            <li><a href="https://developer.apple.com/videos/play/wwdc2015/408/">"Protocol-Oriented Programming in Swift"</a><br />
                <span class="weak"><strong class="accent">Dave Abrahams</strong>, Session 408, WWDC 2015</span></li>
        </ul>
        <p>これらのセッションの発表者の内、<span class="accent">赤字</span>の二人は <a href="https://swift.org/community/#core-team">Swift Core Team</a> のメンバーです。 Swift の言語仕様の変更や追加は <a href="https://github.com/apple/swift-evolution">Swift Evolution</a> で話し合われるのですが、その議論を統括して最終的な意思決定を下すのが Swift Core Team です。 Swift の生みの親である Chris Lattner さんも Core Team のメンバーの一人であり、まさに Core Team は Swift の中枢と言えます。上記の二つのセッションは、 Swift とはどういうコンセプトの言語なのかを Core Team のメンバーが自らの口で語った、数ある Swift 関連のセッションの中でも特に重要な二つだと筆者は考えています。</p>
        <p>しかし、 2015 年当時から Swift は大きく進化しました。当時の Swift のバージョンは 1.2 です。当然ですが、それらのセッションには Swift の最新事情は反映されていません。たとえば、 Swift 5.1 で <em>Opaque Result Type</em> （ <a href="https://developer.apple.com/xcode/swiftui/">SwiftUI</a> などで多用される <code>some View</code> のような <code>some</code> の付いた型）が導入されました。 <em>Opaque Result Type</em> は <em>Value Semantics</em> と <em>Protocol-oriented Programming</em> の延長上にある存在ですが、 2015 年当時に <em>Opaque Result Type</em>と <em>Value Semantics</em> や <em>Protocol-oriented Programming</em> の関係を論じることはできません。</p>
        <p>そこで本書は、 <em>Value Semantics</em> と <em>Protocol-oriented Programming</em> を軸に Swift の最新事情を考慮して話を再構築し、 Swift という言語が持つコンセプトの全体像を示そうと試みました。本書が、 Swift という言語を理解する手助けになることを願っています。</p>
    </div>
</section>

<section style="text-align: center; width: 100%;">
    <h2>目次</h2>
    <table>
        <thead>
            <tr>
            {% for chapter in site.data.book.chapters %}
                <th style="width: {{ col_width }}%">
                {% if chapter.is_draft %}
                    {{ chapter.name }} (Coming soon)
                {% else %}
                    <a href="{{ chapter.path }}">{{ chapter.name }}</a>
                {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: top;">
            {% for chapter in site.data.book.chapters %}
                <td>
                    <ul>
                    {% for section in chapter.sections %}
                        <li>
                        {% if section.is_draft %}
                            {{ section.name }} (Coming soon)
                        {% else %}
                            <a href="{{ section.path }}">{{ section.name }}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</section>
