---
layout: default
introduction_item:
    path: '/#introduction'
    name: 'はじめに'
conclusion_item:
    path: '/conclusion'
    name: 'おわりに'
---

{% assign chapters=site.data.book.chapters %}
{% assign chapter=chapters[page.chapter_index] %}
{% assign section=chapter.sections[page.section_index] %}

{% assign prev_chapter_index=page.chapter_index | minus: 1 %}
{% if prev_chapter_index >= 0 %}
{% assign prev_chapter=chapters[prev_chapter_index] %}
{% endif %}

{% assign next_chapter_index=page.chapter_index | plus: 1 %}
{% if next_chapter_index >= 0 %}
{% assign next_chapter=chapters[next_chapter_index] %}
{% endif %}

{% assign prev_section_index=page.section_index | minus: 1 %}
{% if prev_section_index >= 0 %}
{% assign prev_section=chapter.sections[prev_section_index] %}
{% elsif prev_chapter %}
{% assign prev_chapter_last_section_index=prev_chapter.sections.size | minus: 1 %}
{% assign prev_section=prev_chapter.sections[prev_chapter_last_section_index] %}
{% endif %}

{% assign next_section_index=page.section_index | plus: 1 %}
{% if next_section_index < chapter.sections.size %}
{% assign next_section=chapter.sections[next_section_index] %}
{% elsif next_chapter %}
{% assign next_section=next_chapter.sections[0] %}
{% endif %}

{% if prev_section %}
{% assign prev_item=prev_section %}
{% else %}
{% assign prev_item=layout.introduction_item %}
{% endif %}

{% if next_section %}
{% assign next_item=next_section %}
{% else %}
{% assign next_item=layout.conclusion_item %}
{% endif %}

<div class="chapter"><span>第 {{ page.chapter_index | plus: 1 }} 章&nbsp;&nbsp;{{ chapter.name }}</span></div>

<ul>
    {% for a_section in chapter.sections %}
    <li>
        {% if forloop.index0 == page.section_index %}
        <strong>{{ a_section.name }}</strong>
        {% else %}
        <a href="{{ a_section.path }}">{{ a_section.name }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<hr />

<h1>{{ section.name }}</h1>

{{ content }}

<hr />

{% include pager.html next=next_item prev=prev_item %}
